<% layout("layouts/template") %>   
<h1>Timer</h1>
<span id="min">25</span>:<span id="sec">00</span>

<button id="start" type="button" class="btn btn-primary"><i class="bi bi-play-circle"></i></button>
<button id="stop" type="button" class="btn btn-danger"><i class="bi bi-pause-circle"></i></button>
<button id="reset" type="button" class="btn btn-warning"><i class="bi bi-stop-circle"></i></button>
<button id="workbtn" type="button" class="btn btn-success">start working!</button>
<button id="restbtn" type="button" class="btn btn-success">rest!</button>   